@{
    ViewData["Title"] = "Home Page";
}
@using MovieCharacters.Core.Models
@model List<ActorViewModel>

<div class="row">
    <div class="col-lg-12">
        <h1>Actors and their Characters</h1>
        <p>
            <a href="javascript:history.go(0);">Refresh this page</a> to see a list of characters played in films, grouped by the actors name, and sorted by the film's name.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 movie-list">
        @if (Model == null)
        {
            <p class="text-danger">
                Could not retrieve list of characters from remote API. Please <a href="javascript:history.go(0);">try again </a> later.
            </p>
            <p><small>@ViewData["Exception"]</small></p>
        }
        else
        {
            <div class="legend">
                <h4>Legend</h4>
                <ul class="tree">
                    <li>
                        <span class="actor"><img src="images/mask-black.png" /> Actor</span>
                        <ul>
                            <li class="character"><img src="images/mask-white.png" /> Character <small>Movie</small></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="tree">
                @foreach (var actor in Model)
                {
                    <li class="actor">
                        <span class="actor"><img src="images/mask-black.png" /> @actor.ActorName</span>
                        <ul>
                            @foreach (var character in actor.Characters)
                            {
                                <li class="character"><img src="images/mask-white.png" /> @character.Name <small>@character.Movie</small></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
</div>